anndata==0.7.8
click==8.0.3
# deepcell==0.11.0  # install manually, to avoid version conflicts
fcswrite==0.6.1
h5py==3.2.1  # cellprofiler 4.2.1 requires 3.2.1 (note: deepcell 0.11.0 requires tensorflow ~=2.5.1, which technically requires ~=3.1.0)
imageio==2.14.1
networkx==2.6.3
numpy==1.22.2  # note: deepcell 0.11.0 technically requires <1.20.0
opencv-python-headless==4.5.5.62
pandas==1.4.0
pyyaml==6.0
readimc==0.6.1
scikit-image==0.18.3  # note: deepcell 0.11.0 only works with <0.19.0
scipy==1.7.3
tifffile==2022.2.2
xtiff==0.7.7
