name: docs

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade deepcell==0.9.2
          pip install --upgrade -r requirements.txt
          pip install --upgrade -r docs/requirements.txt
          pip install --upgrade -e .
      - name: Build and deploy documentation (latest)
        if: github.ref == 'refs/heads/main'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git fetch origin gh-pages --verbose
          mike deploy -p -u --rebase latest
      - name: Build and deploy documentation
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git fetch origin gh-pages --verbose
          mike deploy -p -u --rebase ${GITHUB_REF#refs/tags/}
